.weather {
    margin: 0 auto;
    border: 1px solid #0378bb;
    color: black;
    background-color: #e2e3e5;
}
.weather span {
    padding-left: 10px;
    padding-top: 7px;
    padding-right: 2px;
    height: 38px;
}
